/**
 *
 * Itk tabs
 *
 * A component for displaying a dialog.
 *
 * Inspiration http://getbootstrap.com/javascript/
 * Requires a javascript to show hide elements.
 * The black overlay wraps around the modal box.
 * Modal dialog mixin takes three parameters :
 *  - $width: width of dialog window, any viable css width may be used
 *  - $position: positioning of dialog window, left, right or center
 *  - $speed: The speed of the animation, any viable transition speed (remember "s")
 */


/* Styles
   ========================================================================== */
/* stylelint-disable color-no-hex */

/* Invisible overlay that appears when dialog opens and contains the dialog window */
%itk--menu-nav-overlay {
  background-color: rgba(0, 0, 0, .85);
  opacity: 0;
  display: flex;
  justify-content: center;

  // Stretch the background to fit screen.
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -1;  // Must be hidden behind all other content

  transition: opacity .2s, z-index .2s; // Use z-index to show hide since "display:none" doesn't work with transitions.

  &.is-visible {
    z-index: 10; // Most likely on top of all other content.
    opacity: 1;
  }
}


/* Mixin for defining modal-dialog */
@mixin modal-dialog($speed:.2s) {
  z-index: 11;

  position: relative;
  align-self: center;
  flex: 0 0 75%;

  background: $white;
  box-shadow: 0 3px 9px rgba(0,0,0,.5);

  transition: top $speed;
  transition-timing-function: ease-in-out;

  &.is-visible {
    overflow-y: auto;
    max-height: 90%;
    top: 5%;
  }
}

iframe{
  width: 100%;
  height: 500px;
}