/**
*
* Region styles.
* ==============================================
*/

body {
  background: $background-color;
}

img {
  width: 100%;
  display: block;
}

.header--break {
  background: $header-break-color;
  height: 60px;
  width: 100%;
}

.header--text {
  align-self: center;
  color: $header-text-color;
  font-size: 2em;
  text-align: right;
}

.region {
  &-header {
    display: flex;
  }
}

.logo {
  background: $logo-color;
  box-sizing: border-box;
  display: block;
  padding: 2em 4em;

  &--wrapper {
    width: 280px;
  }
}

.row {
  background-color: $white;
  margin: 20px;
}

.hero--content,
.hero--header {
  box-sizing: border-box;
  margin-top: 20px;
  padding: 0 20px;
}

.article {
  box-sizing: border-box;
  padding: 0 1em;
  margin-bottom: 2em;
}

.sound-icon {
  width: 80px;
}

.contnt-wrapper {
  margin-top: 20px;
}