{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'container',
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="js-frame player-frame" id="playerModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="player-content">
        <div class="player-header">
          <div class="logo--wrapper">
            <div class="logo">
              <img src="/themes/custom/ereolen_campaign/logo.svg" alt="Home">
            </div>
          </div>
          <div class="js-frame-close player-close">
            <img src="/themes/custom/ereolen_campaign/icons/close.svg" alt="Close">
          </div>
        </div>
        <iframe id="player" name="player"></iframe>
      </div>
    </div>
    <div class="row content">
      <div class="col-12">
        {{ content }}
      </div>
    </div>
  </div>
{% endif %}
